<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>委案管理</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<fieldset th:if="${company.pId==null}" class="layui-elem-field">
    <legend>分配到公司</legend>
    <!--公司列表-->
    <table id="allots" lay-filter="allots"></table>
</fieldset>
<!--当登录所属公司的员工列表-->
<!--<fieldset class="layui-elem-field">-->
<!--<legend>分配到员工</legend>-->
<a class="layui-btn" id="salotrd">平均分配到员工</a>
<!--</fieldset>-->
<!--操作栏-->
<script type="text/html" id="allotcase">
    <a class="layui-btn  layui-btn-xs" lay-event="allotcase">分配委案</a>
</script>

<!--弹出层地区列表-->
<div style="display: none; width: 100%" id="caseArea">
    <form class="layui-form where" method="post" id="search">
        <div class="layui-inline">
            <label class="layui-form-label">案件名称：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input name="caseName" type="text" class="layui-input"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">合同号：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input name="contractNum" type="text" class="layui-input"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">委案日期：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input name="appointData" type="text" class="layui-input"/>
            </div>
        </div>
        <br/>
        <div th:substituteby="fragment/city_select :: province"></div>
        <div th:substituteby="fragment/city_select :: city"></div>
        <div th:substituteby="fragment/city_select :: area"></div>

        <input name="customerAddress" type="hidden"/>
        <input name="status" type="hidden" value="0"/>
        <input name="companyId" type="hidden" value="-1"/>
        <button class="layui-btn layui-btn-sm" lay-submit="lay-submit" lay-filter="search">查询</button>
    </form>
    <table id="casetab" lay-filter="casetab"></table>
</div>

<div style="display: none; width: 100%" id="casesStaff">
    <!--dfgdf-->
</div>
</body>

<div style="display: none;width: 380px" id="allotc">
    <table id="caseName" lay-filter="caseName"></table>
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-input-block" style="float:left;margin-left: 0" th:each="c:${coms}">
                <input type="checkbox" lay-filter="chkcom" name="company" th:value="${c.id}" th:title="${c.name}"/>
            </div>
        </div>
    </form>
</div>

<div style="display: none;" id="allotsta">
    <form class="layui-form where" method="post" id="search1">
        <div class="layui-inline">
            <label class="layui-form-label">合同号：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input name="contractNum" type="text" class="layui-input"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">委案日期：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input name="appointData" type="text" class="layui-input"/>
            </div>
        </div>
        <br/>
        <div th:substituteby="fragment/city_select :: province"></div>
        <div th:substituteby="fragment/city_select :: city"></div>
        <div th:substituteby="fragment/city_select :: area"></div>
        <button class="layui-btn layui-btn-sm" lay-submit="lay-submit" lay-filter="search1">查询</button>

            <div class="layui-form-item">
                <div class="layui-input-inline" style="width: 95px " th:each="c:${staffs}">
                    <input type="checkbox" lay-filter="chkstaff" name="company" th:value="${c.loginName}"
                           th:title="${c.name}"/>
                </div>
            </div>
        <input id="currcom" name="companyId" type="hidden" th:value="${session.staff.companyId}"/>
        <input name="customerAddress" type="hidden"/>
    </form>
    <table id="staffcase" lay-filter="staffcase"></table>

</div>

<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    layui.use(['table', 'form'], function () {
        var table = layui.table
            , $ = layui.$
            , form = layui.form;
        //公司
        table.render({
            elem: '#allots'
            , id: 'allots'
            , url: [[${ctx}]] + '/company/list' //数据接口
            , method: 'post'
            , cols: [[ //表头
                {field: 'name', title: '公司名称', width: '60%', sort: true, fixed: 'left'}
                , {fixed: 'allot', title: '分配', width: '40%', align: 'center', toolbar: '#allotcase'}
            ]]
        });


        //给公司分配的表格
        var cases = table.render({
            elem: '#casetab'
            , id: 'casetab'
            , method: 'post'
            , page: true
            , limits: [100, 200, 300, 400]
            , limit: 100
            , cols: [[ //表头
                {field: 'chk', title: '分配', width: 30, type: 'checkbox'}
                , {field: 'name', title: '姓名', width: 80}
                , {field: 'contractNum', title: '合同号', width: 110}
                , {field: 'appointData', title: '委派日期', width: 120}
                , {field: 'idCard', title: '身份证', width: 155}
                , {field: 'customerAddress', title: '户籍地址', width: 155}
                , {field: 'caseName', title: '案件名称', width: 200}

            ]]
        });
        //
        var staffcase = table.render({
            elem: '#staffcase'
            , id: 'staffcase'
            , method: 'post'
            , limit: 100
            , limits: [100, 200, 300, 400]
            , cols: [[ //表头
                {field: 'chk', title: '分配', width: 60, type: 'checkbox'}
                , {field: 'name', title: '姓名', width: 75, sort: true}
                , {field: 'contractNum', title: '合同号', width: 135, sort: true}
                , {field: 'appointData', title: '委派日期', width: 130}
                , {field: 'customerAddress', title: '户籍地址', width: 155}
                , {field: 'idCard', title: '身份证', width: 195, sort: true}
            ]]
        });

        table.on('tool(allots)', function (obj) {
            var layEvent = obj.event;
            if (layEvent === 'allotcase') {
                var ctx = [[${ctx}]];
                layer.open({
                    type: 1
                    , title: '分配到公司'
                    , area: ['755px', '90%']
                    , content: $("#caseArea")
                    , btn: ['添加']
                    , yes: function (index) {
                        var checkStatus = table.checkStatus('casetab');
                        if(checkStatus.data.length<1){
                            layer.msg("请选择委案！")
                            return;
                        }
                        $.ajax({
                            url: ctx + "/case/allot",
                            type: "post",
                            dataType: 'json',
                            data: {checks: JSON.stringify(checkStatus.data), company: obj.data.id},
                            success: function (data) {
                                cases.reload();
                                staffcase.reload();
                                layer.msg(data.message);
                            }
                        });
                    }
                    ,cancel: function(index, layero){
                        $('input[name="customerAddress"]').val("");
                        $('select[name="province"]').val("");
                        $('select[name="city"]').val("");
                        $('select[name="area"]').val("");
                        form.render();
                    }
                })
            }
        });

        var chestaff = [];
        form.on('checkbox(chkstaff)', function (data) {
            if (data.elem.checked) {
                chestaff.push(data.value);
            } else {
                chestaff.splice(chestaff.indexOf(data.value), 1)
            }
        });
        //分配到员工
        $("#salotrd").click(function () {
            layer.open({
                type: 1
                , title: '分配到员工'
                , area: ['785px', '90%']
                , content: $("#allotsta")
                , btn: ['添加']
                , yes: function (index) {
                    var checkStatus = table.checkStatus('staffcase');
                    if (chestaff.length < 1) {
                        layer.msg("最少选择一个员工");
                        return;
                    }
                    if (checkStatus.data.length < 1) {
                        layer.msg("最少选择一个案例");
                        return;
                    }
                    $.ajax({
                        url: "randomtostaff",
                        type: "post",
                        dataType: 'json',
                        data: {
                            cases: JSON.stringify(checkStatus.data),
                            staff: chestaff
                        },
                        success: function (data) {
                            layer.msg(data.message);
                            cases.reload();
                            staffcase.reload();
                        }
                    });

                }
                ,cancel: function(index, layero){
                    $('input[name="customerAddress"]').val("");
                    $('select[name="province"]').val("");
                    $('select[name="city"]').val("");
                    $('select[name="area"]').val("");
                    form.render('select');
                }
            })
        })

        //查询
        form.on('submit(search)', function (data) {
            cases.reload({page: {curr: 1 },url: 'dynamic', where: {data: JSON.stringify(data.field)}});
            return false;
        });

        //查询
        form.on('submit(search1)', function (data) {
            staffcase.reload({page: {curr: 1 },url: "list/nostaff", where: {data: JSON.stringify(data.field)}});
            return false;
        });


    });
    layui.config({
        base: [[${ctx}]]+'/static/layui/js/'
    }).use('cityselect');
    /*]]>*/


</script>
</html>

