<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8"/>
    <title>委案管理</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<button type="button" class="layui-btn" id="cases">
    <i class="layui-icon">&#xe609;</i>分配到公司
</button>
<button type="button" class="layui-btn" id="staff">
    <i class="layui-icon">&#xe609;</i>分配到员工
</button>

<!--公司列表-->
<table id="allots" lay-filter="allots"></table>

<!--当登录所属公司的员工列表-->

<table id="staffs" lay-filter="staffs"></table>

<!--操作栏-->
<script type="text/html" id="allotcase">
    <a class="layui-btn  layui-btn-xs" lay-event="allotcase">分配委案</a>
</script>

<!--弹出层-->
<div style="display: none; width: 100%" id="caseArea" >

    <table id="casetab" lay-filter="casetab"></table>

</div>
</body>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    layui.use(['table','form'], function(){
        var table = layui.table
            ,$ = layui.$;
        table.render({
            elem: '#allots'
            ,id:'allots'
            ,url: [[${ctx}]] + '/company/list' //数据接口
            ,method: 'post'
            ,cols: [[ //表头
                {field: 'name', title: '公司名称', width:'60%' , sort: true, fixed: 'left'}
                , {fixed: 'allot', title: '分配', width: '40%', align: 'center', toolbar: '#allotcase', }
            ]]
        });

        table.render({
            elem: '#staffs'
            ,id:'staffs'
            ,url: [[${ctx}]] + '/staff/listbycompany' //数据接口
            ,method: 'post'
            ,cols: [[ //表头
                {field: 'name', title: '公司名称', width:'60%' , sort: true, fixed: 'left'}
                , {fixed: 'allot', title: '分配', width: '40%', align: 'center', toolbar: '#allotcase', }
            ]]
        });

        var areas=table.render({
            elem: '#casetab'
            ,id:'casetab'
            ,url: [[${ctx}]] + '/case/grouparea' //数据接口
            ,method: 'post'
            ,cols: [[ //表头
                {field: 'area', title: '委案所属地区', width:300 , sort: true,}
               , {field: 'count', title: '委案数量', width:100 , sort: true}
                ,{field: 'chk', title: '分配', width:90 , type:'checkbox'}
            ]]
        });

        table.on('tool(allots)', function (obj) {
            var layEvent = obj.event;
            if (layEvent === 'allotcase') {
                var ctx = [[${ctx}]];
                layer.open({
                    type: 1
                    , title: '分配委案'
                    , area: ['500', '500px']
                    , content:$("#caseArea")
                    , btn: ['添加', '取消']
                    , yes: function (index) {
                        var datas = [];

                        var checkStatus = table.checkStatus('casetab');
                        for(var i = 0 ; i<checkStatus.data.length;i++){
                        datas.push(checkStatus.data[i].area);

                        }
                        console.log(datas)
                        console.log(obj.data.id)
                        $.ajax({
                            url:ctx+"/case/allot",
                            type:"post",
                            dataType:'json',
                            data:{area:datas,company:obj.data.id},
                            success:function (data) {
                                areas.reload()
                                layer.close(index);
                                layer.msg(data.message);
                            }
                        });
                    }
                })
            }
        });

    });
    /*]]>*/
</script>
</html>