<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>委案管理</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<fieldset th:if="${company.pId==null}" class="layui-elem-field">
    <legend>分配到公司</legend>
    <!--公司列表-->
    <table id="allots" lay-filter="allots"></table>
</fieldset>
<!--当登录所属公司的员工列表-->
<fieldset class="layui-elem-field">
    <legend>分配到员工</legend>
    <a class="layui-btn  layui-btn-xs" id="salotrd">平均分配到员工</a>
    <table id="staffs" lay-filter="staffs"></table>
</fieldset>
<!--操作栏-->
<script type="text/html" id="allotcase">
    <a class="layui-btn  layui-btn-xs" lay-event="allotcase">分配委案</a>
</script>

<!--弹出层地区列表-->
<div style="display: none; width: 100%" id="caseArea">
    <form class="layui-form where" method="post" id="search">
        <div class="layui-inline">
            <label class="layui-form-label">案件名称：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input name="caseName" type="text" class="layui-input"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">合同号：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input name="contractNum" type="text" class="layui-input"/>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">地区：</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input name="name" type="text" class="layui-input"/>
            </div>
        </div>
        <input name="status" type="hidden" value="0"/>
        <input name="companyId" type="hidden" value="-1"/>
        <button class="layui-btn layui-btn-sm" lay-submit="lay-submit" lay-filter="search">查询</button>
    </form>
    <table id="casetab" lay-filter="casetab"></table>
</div>

<div style="display: none; width: 100%" id="casesStaff">
    <table id="staffcase" lay-filter="staffcase"></table>
</div>
</body>

<div style="display: none;width: 380px" id="allotc">
    <table id="caseName" lay-filter="caseName"></table>
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-input-block" style="float:left;margin-left: 0" th:each="c:${coms}">
                <input type="checkbox" lay-filter="chkcom" name="company" th:value="${c.id}" th:title="${c.name}"/>
            </div>
        </div>
    </form>
</div>

<div style="display: none;width: 380px" id="allotsta">
    <div>当前未分配案件总数<span th:text="${#lists.size(cases)}"></span></div>
    <form class="layui-form">
        <div class="layui-form-item">
            <div class="layui-input-block" style="float:left;margin-left: 0" th:each="c:${staffs}">
                <input type="checkbox" lay-filter="chkstaff" name="company" th:value="${c.loginName}" th:title="${c.name}"/>
            </div>
        </div>
    </form>
</div>

<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    layui.use(['table', 'form'], function () {
        var table = layui.table
            , $ = layui.$
            , form = layui.form;
        //公司
        table.render({
            elem: '#allots'
            , id: 'allots'
            , url: [[${ctx}]] + '/company/list' //数据接口
            , method: 'post'
            , cols: [[ //表头
                {field: 'name', title: '公司名称', width: '60%', sort: true, fixed: 'left'}
                , {fixed: 'allot', title: '分配', width: '40%', align: 'center', toolbar: '#allotcase',}
            ]]
        });
        //根据公司查到的员工
        table.render({
            elem: '#staffs'
            , id: 'staffs'
            , url: [[${ctx}]] + '/staff/listbycompany' //数据接口
            , where: {company: [[${session.staff.companyId}]]}
            , method: 'post'
            , cols: [[ //表头
                {field: 'name', title: '员工姓名', width: '60%', sort: true, fixed: 'left'}
                , {fixed: 'allot', title: '分配', width: '40%', align: 'center', toolbar: '#allotcase',}
            ]]
        });
        //根据案件名查到的ｃａｓｅ
        var casename=table.render({
            elem: '#caseName'
            , id: 'caseName'
            , url: 'groupByname' //数据接口
            , method: 'post'
            , cols: [[ //表头
                {field: 'caseName', title: '案件名', width: 100, sort: true, fixed: 'left'}
                ,{field: 'count', title: '案件数', width: 100}
                ,{fixed: 'chk', width: 100, align: 'center', type: 'checkbox',fixed: 'right'}
            ]]
        });
        //按地区分的ｃａｓｅ

        var cases = table.render({
            elem: '#casetab'
            , id: 'casetab'
            , method: 'post'
            , cols: [[ //表头
                  {field: 'chk', title: '分配', width: 30, type: 'checkbox'}
                , {field: 'name', title: '姓名', width: 80, sort: true}
                , {field: 'contractNum', title: '合同号', width: 110, sort: true}
                , {field: 'idCard', title: '身份证', width: 155, sort: true}
                , {field: 'caseName', title: '案件名称', width: 200, sort: true}

            ]]
        });
        //
        var staffcase = table.render({
            elem: '#staffcase'
            , id: 'staffcase'
            , url: [[${ctx}]] + '/case/list/nostaff' //数据接口
            , where: {company: [[${session.staff.companyId}]]}
            , method: 'post'
            , cols: [[ //表头
                {field: 'name', title: '姓名', width: 75, sort: true}
                , {field: 'customerResidenceAddress', title: '户籍', width: 195, sort: true}
                , {field: 'chk', title: '分配', width: 90, type: 'checkbox'}
            ]]
        });

        table.on('tool(allots)', function (obj) {
            var layEvent = obj.event;
            if (layEvent === 'allotcase') {
                var ctx = [[${ctx}]];
                layer.open({
                    type: 1
                    , title: '分配委案'
                    , area: ['600px', '90%']
                    , content: $("#caseArea")
                    , btn: ['添加', '取消']
                    , yes: function (index) {
                        var datas = [];
                        var checkStatus = table.checkStatus('casetab');
                        for (var i = 0; i < checkStatus.data.length; i++) {
                            datas.push(checkStatus.data[i].id);
                        }
                        $.ajax({
                            url: ctx + "/case/allot",
                            type: "post",
                            dataType: 'json',
                            data: {checks:JSON.stringify(checkStatus.data), company: obj.data.id},
                            success: function (data) {
                                cases.reload();
                                staffcase.reload();
                                layer.close(index);
                                layer.msg(data.message);
                            }
                        });
                    }
                })
            }
        });

        table.on('tool(staffs)', function (obj) {
            var ctx = [[${ctx}]];
            layer.open({
                type: 1
                , title: '分配委案'
                , area: ['380px', '500px']
                , content: $("#casesStaff")
                , btn: ['添加', '取消']
                , yes: function (index) {
                    var checkStatus = table.checkStatus('staffcase');
                    $.ajax({
                        url: "allotstaff",
                        type: "post",
                        dataType: 'json',
                        data: {
                            staff: JSON.stringify(obj.data),
                            cases: JSON.stringify(checkStatus.data)
                        },
                        success: function (data) {
                            staffcase.reload();
                            layer.close(index);
                            layer.msg(data.message);
                        }
                    });
                }
            });
        });

        var checompany = [];
        var chestaff = [];
        form.on('checkbox(chkcom)', function (data) {
            if (data.elem.checked) {
                checompany.push(data.value);
            } else {
                checompany.splice(checompany.indexOf(data.value), 1)
            }
        });

        form.on('checkbox(chkstaff)', function (data) {
            if (data.elem.checked) {
                chestaff.push(data.value);
            } else {
                chestaff.splice(chestaff.indexOf(data.value), 1)
            }
        });

        $("#caloat").click(function () {
            layer.open({
                type: 1
                , title: '分配委案'
                , area: ['380px', '500px']
                , content: $("#allotc")
                , btn: ['添加', '取消']
                , yes: function (index) {
                    console.log(checompany)
                    var checkStatus = table.checkStatus('caseName');
                    console.log(checkStatus.data);

                    $.ajax({
                        url: "random",
                        type: "post",
                        dataType: 'json',
                        data: {
                            companies:JSON.stringify(checkStatus.data),
                            names:checompany
                        },
                        success:function (data) {
                            layer.msg(data.message)
                            areas.reload();
                            casename.reload();
                            staff.reload();
                        }
                    });

                }
            })
        })

        $("#salotrd").click(function () {
            layer.open({
                type: 1
                , title: '分配委案'
                , area: ['380px', '500px']
                , content: $("#allotsta")
                , btn: ['添加', '取消']
                , yes: function (index) {
                    console.log(chestaff);
                    $.ajax({
                        url: "randomtostaff",
                        type: "post",
                        dataType: 'json',
                        data: {
                            staff:chestaff
                        },
                        success:function (data) {
                            layer.msg(data.message);
                            areas.reload();
                            casename.reload();
                            staffcase.reload();
                        }
                    });

                }
            })
        })

        //查询
        form.on('submit(search)', function (data) {
            $.ajax({
                url: "dynamic",
                type: "post",
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(data.field),
                success: function (data) {
                    cases.reload({data: data,limit:data.length});
                }
            });
            return false;
        });


    });
    /*]]>*/
</script>
</html>