<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>title</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<form class="layui-form"  action="/"  th:object="${role}" method="post" style="padding-top: 10px;">
    <div class="layui-form-item">
        <label class="layui-form-label">角色名称</label>
        <div class="layui-input-inline">
            <input type="text"  th:field="*{name}" required ="required " lay-verify="required" placeholder="岗位名称" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">角色描述</label>
        <div class="layui-input-inline">
            <input type="text"  th:field="*{design}" required ="required " lay-verify="required" placeholder="描述" autocomplete="off" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="lay-submit" lay-filter="role">添加</button>
        </div>
    </div>


</form>

<script th:src="@{/static/layui/layui.js}"></script>

<script>
    layui.use('form', function(){
        var $ = layui.$,
            form = layui.form;
        //监听提交
        form.on('submit(role)', function(data){
            $.ajax({
                url:"add",
                type:"post",
                dataType:'json',
                contentType:'application/json;charset=utf-8',
                data:JSON.stringify(data.field)
            });
            return false;
        });
    });
</script>
</body>
</html>