<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>title</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<a class="layui-btn layui-btn-sm" id="add">添加公司</a>

<table id="company" lay-filter="company"></table>

<div id="form" style="display: none">
<form class="layui-form"  method="post" id="addcompany">

    <div class="layui-form-item">
        <label class="layui-form-label">公司名称</label>
        <div class="layui-input-inline">
            <input type="text" name="name" required ="required " lay-verify="required" placeholder="请输入员工姓名" autocomplete="off" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">负责地区</label>
        <div class="layui-input-inline">
            <input type="text" name="area"  required ="required " lay-verify="required" placeholder="请输入员工姓名" autocomplete="off" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button  class="layui-btn" lay-submit="lay-submit" lay-filter="company">立即提交</button>
        </div>
    </div>
</form>
</div>

<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">

    /*<![CDATA[*/
    layui.use(['table','form'], function () {
        var table = layui.table
            , $ = layui.$
            ,form=layui.form;
        //员工
        var cpmpanys=table.render({
            elem: '#company'
            , id: 'company'
            , url: 'list' //数据接口
            , method: 'post'
            , cols: [[ //表头
                {field: 'name', title: '公司名称', width: '100%', sort: true}
            ]]
        });
        $("#add").click(function(){
            layer.open({
                type: 1
                , title: '添加公司'
                , area: ['500px', '300px']
                , content: $('#form')
            })
        });

        //监听提交
        form.on('submit(company)', function(data){
            $.ajax({
                url:"add",
                type:"post",
                dataType:'json',
                contentType:'application/json;charset=utf-8',
                data:JSON.stringify(data.field),
                success:function (data) {
                   $("#addcompany")[0].reset();
                   layer.msg(data.message);
                   cpmpanys.reload()
                }
            });
            return false;
        });
    });


    /*]]>*/
</script>
</body>
</html>