
    <div class="layui-inline" xmlns:th="http://www.thymeleaf.org" th:fragment="province">
        <label class="layui-form-label">省：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <select name="province" lay-filter="address">
                <option value="">请选择</option>
                <option th:each="p:${province}" th:text="${p.name}" th:value="${p.name}">山西省</option>
            </select>
        </div>
    </div>
    <div class="layui-inline" xmlns:th="http://www.thymeleaf.org" th:fragment="city">
        <label class="layui-form-label">市：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <select name="city" lay-filter="address">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
    <div class="layui-inline" xmlns:th="http://www.thymeleaf.org" th:fragment="area">
        <label class="layui-form-label">区：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <select name="area" lay-filter="address">
                <option value="">请选择</option>
            </select>
        </div>
    </div>
