<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>员工添加</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<a class="layui-btn layui-btn-sm" href="list">返回</a>

<form class="layui-form"  action=""  th:object="${staff}" method="post" style="padding-top: 10px;">
    <div class="layui-form-item">
        <label class="layui-form-label">员工名称</label>
        <div class="layui-input-inline">
            <input type="text"  th:field="*{name}" required ="required " lay-verify="required" placeholder="请输入员工姓名" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-inline">
            <input type="text"  th:field="*{loginName}" required ="required " lay-verify="required" placeholder="请输入用户名" autocomplete="off" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">电话</label>
        <div class="layui-input-inline">
            <input type="text" th:field="*{phone}" required ="required " lay-verify="required" placeholder="请输入电话" autocomplete="off" class="layui-input"/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">岗位</label>
        <div class="layui-input-inline">
            <select th:field="*{place}" required ="required " lay-verify="required">
                <option value=""></option>
                <option th:each="a:${roles}" th:text="${a.name}" th:value="${a.id}"></option>
            </select>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">公司</label>
        <div class="layui-input-inline">
            <select th:field="*{companyId}" required ="required " lay-verify="required">
                <option value=""></option>
                <option th:each="c:${companys}" th:text="${c.name}" th:value="${c.id}"></option>
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="submit" class="layui-btn" lay-submit="lay-submit" lay-filter="staff">立即提交</button>
        </div>
    </div>
</form>
<script th:src="@{/static/layui/layui.js}"></script>

<script>
    layui.use('form', function(){
        var $ = layui.$,
            form = layui.form;
        var role=[];
        //监听提交
        form.on('submit(staff)', function(data){
            console.log(data)
            $.ajax({
                    url:"add",
                    type:"post",
                    dataType:'json',
                    contentType:'application/json;charset=utf-8',
                    data:JSON.stringify(data.field),
                    success:function (data) {
                        layer.msg(data.message)
                    }
            });
            return false;
        });

     /*   form.on('checkbox(role)', function(data){
          if(data.elem.checked){
              role.push(data.value);
          }else{
              role.splice(role.indexOf(data.value),1);
          } //是否被选中，true或者false
            console.log(role); //复选框value值，也可以通过data.elem.value得到
        });*/
    });
</script>
</body>
</html>