<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>title</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<a class="layui-btn layui-btn-sm" href="toAdd">添加员工</a>

<table id="staff" lay-filter="staff"></table>


<script type="text/html" id="updata">
    <a class="layui-btn  layui-btn-xs" lay-event="update">修改</a>
</script>

<div style="width: 500px;display: none;" id="rolelist">
    <table id="roles" lay-filter="roles"></table>
</div>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    layui.use('table', function () {
        var table = layui.table
            , $ = layui.$;
        //员工
        table.render({
            elem: '#staff'
            , id: 'staff'
            , height: 'full'
            , url: 'list' //数据接口
            , method: 'post'
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'name', title: '员工名称', width: '15%', sort: true, fixed: 'left'}
                , {field: 'loginName', title: '登录名', width: '15%', sort: true}
                , {field: 'place', title: '职位', width: '15%', sort: true}
                , {field: 'phone', title: '电话', width: '15%', sort: true}
                , {field: 'companyId', title: '公司', width: '15%', sort: true}
//                , {title: '修改', width: '10%', align: 'center', toolbar: '#updata',fixed: 'right'}

            ]]
        });
        table.on('tool(staff)', function (obj) {
            var layEvent = obj.event;
            var data = obj.data;
            console.log(data)
            if (layEvent === 'update') {
                var ctx = [[${ctx}]];
                layer.open({
                    type: 1
                    , title: '分配委案'
                    , area: ['520px', '90%']
                    , content:$("#astaff")
                    , btn: ['添加', '取消']
                })
            }
        });
    });
    /*]]>*/
</script>

</body>
</html>