<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>title</title>
    <div th:include="fragment/head :: head"></div>
</head>
<style type="text/css">
    .update{
        position:fixed;
        right: -350px;
        top: 0;
        width: 350px;
        background-color: #2dff07;
    }
</style>
<body>
<a class="layui-btn layui-btn-sm" href="toAdd">添加员工</a>

<table id="staff" lay-filter="staff"></table>

<div id="update" class="update">
    <form class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">员工名称</label>
            <div class="layui-input-inline">
                <input type="text"  name="name"  required ="required " lay-verify="required" placeholder="请输入员工姓名" autocomplete="off" class="layui-input"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">电话</label>
            <div class="layui-input-inline">
                <input type="text" name="phone" required ="required " lay-verify="required" placeholder="请输入电话" autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">岗位</label>
            <div class="layui-input-inline">
                <select  name="place" required ="required " lay-verify="required" lay-filter="group">
                    <option value=""></option>
                    <option value="2">管理员</option>
                    <option value="3">催收员</option>
                    <option value="4">业务部</option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="lay-submit" lay-filter="updatesta">修改</button>
            </div>
        </div>
        <input name="oldId" type="hidden"/>
        <input name="loginName" type="hidden"/>
    </form>
</div>
<script type="text/html" id="updata">
    <a class="layui-btn  layui-btn-xs" lay-event="update">修改</a>
    {{#  if(d.isEnable === 0){ }}
    <a class="layui-btn  layui-btn-xs" lay-event="disenable">禁用</a>
    {{#  } }}
    {{#  if(d.isEnable === 1){ }}
    <a class="layui-btn  layui-btn-xs layui-btn-disabled" lay-event="disenable">禁用</a>
    {{#  } }}
</script>

<div style="width: 500px;display: none;" id="rolelist">
    <table id="roles" lay-filter="roles"></table>
</div>

<div style="display: none" id="del">
    <table id="sta" lay-filter="sta"></table>
</div>
<script th:src="@{/static/layui/layui.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    layui.use('table', function () {
        var table = layui.table
            , $ = layui.$
            ,form = layui.form;
        //员工
        var staff=table.render({
            elem: '#staff'
            , id: 'staff'
            , height: 'full'
            , width: 645
            , url: 'list' //数据接口
            , method: 'post'
            , page: true //开启分页
            , cols: [[ //表头
                {field: 'name', title: '员工名称', width: 150, sort: true, fixed: 'left'}
                , {field: 'loginName', title: '登录名', width: 150, sort: true}
//                , {field: 'place', title: '职位', width: '15%', sort: true}
                , {field: 'phone', title: '电话', width: 200, sort: true}
//                , {field: 'companyId', title: '公司', width: '15%', sort: true}
                , {title: '修改', width: 160, align: 'center', toolbar: '#updata', fixed: 'right'}
            ]]
            , done: function (res, curr, count) {
                console.log(res)
                console.log(curr)
                console.log(count)
                layui.$('table tbody tr ').each(function () {
                    if ($(this).children().eq(10).text().trim() == '撤案') {
                        $(this).css('color', '#FFB90F');
                    }
                })
            }
        });
        table.on('tool(staff)', function (obj) {
            var layEvent = obj.event;
            if (layEvent === 'update') {
                $("input[name='name']").val(obj.data.name);
                $("input[name='loginName']").val(obj.data.loginName);
                $("input[name='oldId']").val(obj.data.loginName);
                $("input[name='phone']").val(obj.data.phone);
                $("select[name='place']").val(obj.data.place);
                form.render('select')
                $('#update').css("right",0);
            } else if (layEvent === 'disenable') {
                if (obj.data.isEnable === 1) {
                    layer.msg("该用户已禁用")
                    return;
                }
                table.render({
                    elem: '#sta'
                    , id: 'sta'
                    , url: 'list' //数据接口
                    , method: 'post'
                    , size: 'sm'
                    , cols: [[ //表头
                        {field: 'chk', width: "4%", type: 'checkbox', fixed: 'left'},
                        {field: 'name', title: '员工名称', width: 150, sort: true, fixed: 'left'}
                    ]]
                });
                $.ajax({
                    url: "isenable",
                    type: "post",
                    dataType: 'json',
                    data: {staff: JSON.stringify(obj.data)},
                    success: function (data) {
                        if (data.code === 1) {
                            layer.open({
                                type: 1
                                , title: obj.data.name + '的案件'
                                , height: 'full'
                                , content: $("#del")
                                , btn: ['添加']
                                , yes: function (index, layero) {
                                    var checkStatus = table.checkStatus('sta');
                                    var chksta = [];
                                    for (var i = 0; i < checkStatus.data.length; i++) {
                                        chksta.push(checkStatus.data[i].loginName)
                                    }
                                    $.ajax({
                                        url: "disenable",
                                        type: "post",
                                        dataType: 'json',
                                        data: {
                                            cases: JSON.stringify(data.data.cases),
                                            staff: chksta
                                        },
                                        success: function (data) {
                                            layer.close(index);
                                            $.ajax({
                                                url: "isenable",
                                                type: "post",
                                                dataType: 'json',
                                                data: {staff: JSON.stringify(obj.data)},
                                                success: function (data) {
                                                    layer.msg(data.message);
                                                    staff.reload()
                                                }
                                            })

                                        }
                                    });
                                }
                            })
                        } else {
                            layer.msg(data.message);
                            staff.reload();
                        }
                    }
                });
            }
        });


        form.on('submit(updatesta)', function (data) {
            $.ajax({
                url:"update",
                type: "post",
                dataType: 'json',
                data: {data:JSON.stringify(data.field),oldId:data.field.oldId},
                success: function (data) {
                    layer.msg(data.message);
                    $('#update').css("right","-350px");
                    staff.reload()
                }
            });
            return false;
        });
    });
    /*]]>*/
</script>

</body>
</html>