<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>title</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<!--查询-->
<form class="layui-form where" method="post" id="search">
    <div class="layui-inline">
        <label class="layui-form-label">状态：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <select name="status" class="layui-input">
                <option value="-1">全部</option>
                <option value="0">正常</option>
                <option value="6">承诺还款</option>
                <option value="5">留案</option>
                <option value="2">留案申请中</option>
                <option value="2">结案申请中</option>
            </select>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">姓名：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input name="name" type="text" class="layui-input"/>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">手机：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input name="customerPhoneNumber" type="text" class="layui-input"/>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">身份证：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input name="idCard" type="text" class="layui-input"/>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">案件类型：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <select name="type" class="layui-input">
                <option value="">全部</option>
                <option value="正常委外">正常委外</option>
                <option value="360+">360+</option>
                <option value="佰赢专案">佰赢专案</option>
                <option value="提前委外">提前委外</option>
            </select>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">委案日期：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input name="appointData" id="appointData" type="text" class="layui-input"/>
        </div>
    </div>

    <div class="layui-inline">
        <label class="layui-form-label">最后跟进日期：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input name="stopAppoint" id="stopAppoint" class="layui-input"/>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">合同号：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <input name="contractNum" type="text" class="layui-input"/>
        </div>
    </div>
    <div class="layui-inline">
        <label class="layui-form-label">时间段：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <select name="overrangingDay">
                <option value="">全部</option>
                <option value="M1">M1</option>
                <option value="M2">M2</option>
                <option value="M3">M3</option>
                <option value="M4-M6">M4-M6</option>
                <option value="M6-M12">M6-M12</option>
                <option value="M12">M12以上</option>
            </select>
        </div>
    </div>

    <div th:substituteby="fragment/city_select :: province"></div>
    <div th:substituteby="fragment/city_select :: city"></div>
    <div th:substituteby="fragment/city_select :: area"></div>
    <div class="layui-inline">
        <label class="layui-form-label">跟进情况：</label>
        <div class="layui-input-inline" style="width: 100px;">
            <select name="lastUrge">
                <option value="">全部</option>
                <option value="yes">已跟进</option>
                <option value="no">未跟进</option>
            </select>
        </div>
    </div>
    <input type="hidden" th:value="${session.staff.loginName}" name="staffId"/>
    <input name="customerAddress" type="hidden"/>
    <button class="layui-btn layui-btn-sm" lay-submit="lay-submit" lay-filter="search">查询</button>
</form>
<table id="cases" lay-filter="cases"></table>
<div id="pav">
    <div style="float: right;padding-right: 30px;position: relative;bottom: 40px">当前总金额：<span id="sumArrears"></span>
    </div>
</div>

<script type="text/html" id="urge">
    <a class="layui-btn  layui-btn-xs" lay-event="urge">添加记录</a>
    <a class="layui-btn  layui-btn-xs" lay-event="end">结案申请</a>
    <a class="layui-btn  layui-btn-xs" lay-event="rethin">留案申请</a>
</script>
<script type="text/html" id="status">

    {{#  if(d.status === 0){ }}
    正常
    {{#  } }}
    {{#  if(d.status === 1){ }}
    撤案
    {{#  } }}
    {{#  if(d.status === 2){ }}
    留案申请中
    {{#  } }}
    {{#  if(d.status === 3){ }}
    结案申请中
    {{#  } }}
    {{#  if(d.status === 4){ }}
    结案
    {{#  } }}
    {{#  if(d.status === 5){ }}
    留案
    {{#  } }}
    {{#  if(d.status === 6){ }}
    承诺还款
    {{#  } }}

</script>

<script type="text/html" id="overday">

    {{#  if(d.overrangingDay < 31){ }}
    M1
    {{#  } }}
    {{#  if(d.overrangingDay > 30 && d.overrangingDay < 61){ }}
    M2
    {{#  } }}
    {{#  if(d.overrangingDay > 60 && d.overrangingDay < 91){ }}
    M3
    {{#  } }}
    {{#  if(d.overrangingDay > 91 && d.overrangingDay < 180){ }}
    M4-M6
    {{#  } }}
    {{#  if(d.overrangingDay > 181 && d.overrangingDay < 360){ }}
    M6-M12
    {{#  } }}
    {{#  if(d.overrangingDay > 361){ }}
    大于M12
    {{#  } }}
</script>

<script th:src="@{/static/layui/layui.js}"></script>
</body>
<div style="display: none;" id="reason">
    <textarea id="endReason" lay-verify="required" placeholder="结案原因" class="layui-textarea"></textarea>
</div>


<div class="layui-row layui-collapse" id="add" style="display: none">

    <div class="layui-col-md6 layui-colla-item">
        <h2 class="layui-colla-title ">客户信息</h2>
        <div class="layui-colla-content layui-show">

            <span name ="name"></span> 性别：<span name ="sex"></span> 身份证：<span name ="idCard"></span><button name="Id" class="layui-btn layui-btn-xs" id="supplement">补充信息</button>
            手机：<span name ="customerPhoneNumber"></span><br/>
            客户办公电话：<span name ="customerOfficePhone"></span><br/>
            客户公司名称：<span name ="customerCompany"></span><br/>
            客户公司地址：<span name ="customerCompanyAddress"></span><br/>
            还款账号：<span name ="repaymentAccount"></span><br/>
            户名：<span name="accountMaster"></span><br/>
            开户行：<span name="bank"></span><br/>
            代扣账户：<span name="withholdingAccount"></span><br/>
            代扣开户行：<span name="withholding"></span><br/>
            购买商品：<span name ="commodity"></span>
            品牌：<span name ="brand"></span><br/>
            pos点：<span name="posPlace"></span><br/>
            户籍地址：<span name ="customerAddress"></span><br/>
            委派日期：<span name ="appointData"></span>
            退案日期：<span name ="stopAppoint"></span><br/>
            贷款类型：<span name ="loanType"></span><br/>
            贷款本金：<span name ="loanPrincipal"></span>
            期款：<span name ="installmentMoney"></span>
            期数：<span name ="installmentNum"></span><br/>
            已还款金额：<span name ="repaymentMoney"></span>
            最后还款日：<span name ="deadline"></span><br/>
            逾期天数：<span name ="overrangingDay"></span>
            取消分期时间：<span name ="cancelInstalments"></span><br/>
            未付期款：<span name ="nnpaidInstallment"></span>
            未付滞纳金：<span name ="lateFee"></span><br/>
            欠款金额：<span name ="arrears"></span>
            委外催收费：<span name ="serviceCharge"></span>
            总欠款：<span name ="sumArrears"></span><br/>
            合同号：<span name="contractNum"></span><br/>
            合同数量：<span name="contractsNum"></span><br/>
            合同申请日：<span name="contractApplyDate"></span><br/>
            补充信息：<span name ="supplement"></span>
        </div>
    </div>


    <div class="layui-col-md6 layui-colla-item">
        <h2 class="layui-colla-title">添加记录</h2>
        <div class="layui-colla-content layui-show">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this">记录</li>
                    <li>补充记录</li>
                </ul>
                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <!--崔记-->
                        <form class="layui-form" method="post">
                            <div class="layui-form-item">
                                <label class="layui-form-label">记录对象</label>
                                <div class="layui-input-inline">
                                    <select name="target" lay-verify="required" autocomplete="off" class="layui-input">

                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">接通状态</label>
                                <div class="layui-input-inline">
                                    <select name="status" lay-verify="required" autocomplete="off" class="layui-input"
                                            lay-filter="status">
                                        <option value="">请选择</option>
                                        <option value="正常接通">正常接通</option>
                                        <option value="无人接听">无人接听</option>
                                        <option value="暂停服务">暂停服务</option>
                                        <option value="暂时无法接通">暂时无法接通</option>
                                        <option value="关机">关机</option>
                                        <option value="挂机">挂机</option>
                                        <option value="停机">停机</option>
                                        <option value="正在通话">正在通话</option>
                                        <option value="来电提醒">来电提醒</option>
                                        <option value="空号">空号</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item" id="cuishouEnd" style="display: none">
                                <label class="layui-form-label">记录结果</label>
                                <div class="layui-input-inline">
                                    <select id="result" name="result" lay-verify="required" autocomplete="off"
                                            class="layui-input" lay-filter="result">
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                    <textarea type="text" name="rmarks" required="required " lay-verify="required|rmarks" placeholder=""
                              autocomplete="off" class="layui-input" style="height: 100px;"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-verify="timeo" lay-submit="lay-submit"
                                            lay-filter="urge"
                                            id="urgeadd">添加记录
                                    </button>


                                </div>
                            </div>

                            <input type="hidden" name="caseId" id="caseId"/>
                            <input type="hidden" name="staffId" th:value="${session.staff.loginName}"/>
                        </form>
                    </div>
                    <!--协查-->
                    <div class="layui-tab-item">
                        <form class="layui-form" method="post">
                            <div class="layui-form-item">
                                <label class="layui-form-label">记录对象</label>
                                <div class="layui-input-inline">
                                    <select name="suTarget" lay-verify="required" autocomplete="off"
                                            class="layui-input">
                                    </select>
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">接通状态</label>
                                <div class="layui-input-inline">
                                    <select name="suStatus" lay-verify="required" autocomplete="off" class="layui-input"
                                            lay-filter="sustatus">
                                        <option value="">请选择</option>
                                        <option value="正常接通">正常接通</option>
                                        <option value="无人接听">无人接听</option>
                                        <option value="暂停服务">暂停服务</option>
                                        <option value="暂时无法接通">暂时无法接通</option>
                                        <option value="关机">关机</option>
                                        <option value="挂机">挂机</option>
                                        <option value="停机">停机</option>
                                        <option value="正在通话">正在通话</option>
                                        <option value="来电提醒">来电提醒</option>
                                        <option value="空号">空号</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item" id="suEnd" style="display: none">
                                <label class="layui-form-label">记录结果</label>
                                <div class="layui-input-inline">
                                    <select id="suResult" name="suResult" lay-verify="required" autocomplete="off"
                                            class="layui-input" lay-filter="result">
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">备注</label>
                                <div class="layui-input-inline">
                                    <textarea type="text" name="suRemark" required="required "
                                              lay-verify="required|rmarks"
                                              autocomplete="off" class="layui-input" style="height: 100px;"></textarea>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-verify="timeo" lay-submit="lay-submit"
                                            lay-filter="suadd"
                                            id="suadd">添加补充记录
                                    </button>

                                </div>
                            </div>

                            <input type="hidden" name="caseId"/>
                            <input type="hidden" name="staffId" th:value="${session.staff.loginName}"/>
                        </form>
                    </div>
                    <a class="layui-btn" id="eext">上一位</a>
                    <a class="layui-btn" id="next">下一位</a>
                </div>
            </div>

        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="layui-col-md6 layui-colla-item">
        <h2 class="layui-colla-title">历史记录</h2>
        <div class="layui-colla-content layui-show">
            <table id="log" lay-filter="log"></table>
        </div>

    </div>
    <div class="layui-col-md6 layui-colla-item">
        <h2 class="layui-colla-title">历史补充记录</h2>
        <div class="layui-colla-content layui-show">
            <table id="sulog" lay-filter="sulog"></table>
        </div>
    </div>


</div>

<div id="reloption" style="display:none;">
    <select>
        <option value="承诺还款">承诺还款</option>
        <option value="已还款">已还款</option>
        <option value="还款处理中">还款处理中</option>
        <option value="违诺或跳票">违诺或跳票</option>
        <option value="无还款意愿">无还款意愿</option>
        <option value="有还款意愿暂时无还款能力">有还款意愿暂时无还款能力</option>
        <option value="是本人，否认借款">是本人，否认借款</option>
        <option value="其他">其他</option>
    </select>

</div>

<div id="sureloption" style="display:none;">
    <select>
        <option value="联系人承诺转告债务人">联系人承诺转告债务人</option>
        <option value="不是本人，但认识借款人">不是本人，但认识借款人</option>
        <option value="借款人入狱或死亡">借款人入狱或死亡</option>
        <option value="借款人因病住院或意外伤残">借款人因病住院或意外伤残</option>
        <option value="其他">其他</option>
    </select>
</div>

<div id="supplementlayer" style="display: none">
    <textarea id="demo" style="display: none;"></textarea>
</div>
<div class="layui-inline" style="display: none;padding-top: 20px" id="day">
    <div class="layui-form-item">
        <label class="layui-form-label">留案期</label>
        <div class="layui-inline">
            <input type="text" required="required " class="layui-input" name="rethinDay" id="rethinDay"/>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <textarea id="retainReason" lay-verify="required" placeholder="留案原因" class="layui-textarea"></textarea>
        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    layui.config({
        base: [[${ctx}]] + '/static/layui/js/'
    }).use('cityselect');
    layui.use(['table', 'form', 'laytpl', 'layedit', 'laydate', 'element'], function () {
         var table = layui.table
            , $ = layui.$
            , form = layui.form,
             layedit = layui.layedit
             , element = layui.element
             , laydate = layui.laydate;
        $.fn.serializeObject = function () {
            var o = {};
            var a = this.serializeArray();
            $.each(a, function () {
                if (o[this.name]) {
                    if (!o[this.name].push) {
                        o[this.name] = [o[this.name]];
                    }
                    o[this.name].push(this.value || '');
                } else {
                    o[this.name] = this.value || '';
                }
            });
            return o;
        };
        //表单验证
        form.verify({
            rmarks: [
                /^[\S\s]{10,100}$/
                , '备注信息不少于10字符不多余100字符'
            ]
            , timeo: function () {
                if ($('#urgeadd').is('.layui-btn-disabled') || $('#suadd').is('.layui-btn-disabled')) {

                    return '操作频繁';
                }
            }
        });
        //日期渲染
        laydate.render({
            elem: '#rethinDay'
            , format: 'yyyy/MM/dd'
            , min: 0
            , max: 30
            , theme: 'grid'
        });
        laydate.render({
            elem: '#appointData'
            , format: 'yyyy/MM/dd'
            , theme: 'grid'
        });

        laydate.render({
            elem: '#stopAppoint'
            , format: 'yyyy-MM-dd'
            , theme: 'grid'
            ,max:0
        });

        var cases = table.render({
            elem: '#cases'
            , id: 'cases'
            , height:'full-60'
            , url: [[${ctx}]] + '/case/list/bystaff' //数据接口
            , page: {elem: 'pav'} //开启分页
            , limits: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
            , where: {staff: JSON.stringify(JSON.parse('{"staffId":"'+[[${session.staff.loginName}]]+'"}'))}
            , method: 'post'
            , cols: [[ //表头
                {field: 'name', title: '姓名', width: '7%', sort: true}
                , {field: 'contractNum', title: '合同号', width: '8%'}
                , {field: 'customerPhoneNumber', title: '手机', width: '8%', sort: true}
                , {field: 'appointData', title: '委案日期', width: '10%'}
                , {field: 'stopAppoint', title: '退案日期', width: '10%'}
                , {field: 'overday', title: '时间段', width: '8%', templet: '#overday'}
                , {field: 'overrangingDay', title: '逾期天数', width: '5%', sort: true}
                , {field: 'repaymentMoney', title: '已还金额', width: '10%', sort: true}
                , {field: 'sumArrears', title: '总金额', width: '10%', sort: true}
                , {field: 'customerAddress', title: '户籍地址', width: '11%'}
                , {field: 'lastUrge', title: '最后一次催记时间', width: '10%', sort: true}
                , {field: 'status', title: '状态', width: '6%',templet:'#status'}
                , {fixed: 'urge', title: '操作', width: 210, align: 'center', toolbar: '#urge', fixed: 'right'}
            ]]
            ,done: function(res, curr, count){
                layui.$('table tbody tr ').each(function () {
                    if ($(this).children().eq(11).text().trim() == '撤案') {
                        $(this).css('background-color', '#BEBEBE');
                        $(this).css('color', '');
                    }
                    if ($(this).children().eq(11).text().trim() == '留案') {
                        $(this).css('background-color', '#FFAD86');
                        $(this).css('color', '');
                    }
                    if ($(this).children().eq(11).text().trim() == '结案') {
                        $(this).css('background-color', '#84C1FF');
                        $(this).css('color', '');
                    }
                    if ($(this).children().eq(11).text().trim() == '结案申请中') {
                        $(this).css('background-color', '#7dffb8');
                        $(this).css('color', '');
                    }
                    if ($(this).children().eq(11).text().trim() == '留案申请中') {
                        $(this).css('background-color', '#ffcec2');
                        $(this).css('color', '');
                    }
                    if ($(this).children().eq(11).text().trim() == '承诺还款') {
                        $(this).css('background-color', '#ff92ec');
                        $(this).css('color', '');
                    }
                });
                $.post([[${ctx}]] + '/case/list/sum', {staff: JSON.stringify($('#search').serializeObject())}, function (data) {
                    $("#sumArrears").text(data);
                })
                currdata=res;
                currpage=curr;
            }
        });
        table.on('tool(cases)', function (obj) {
            if(obj.data.status===1){
                layer.msg("委案已经撤回");
                return;
            }
            cursor = obj.tr.attr("data-index");
            if(obj.event==='urge'){
                setcase(obj.data);
                setoption(obj.data);
                //协查对象
                setsu(obj.data);
                log.reload({where:{cases:$("#caseId").val()}});
                sulog.reload({where: {cases: $("#caseId").val()}});
                var addurge=layer.open({
                    type: 1
                    , title: '添加记录'
                   , shade: 0
                    , content:$("#add")
                    ,cancel: function(index, layero){
                        cases.reload({page:{curr:Number(currpage)}});
                    }
                    });
                layer.full(addurge);
            }else if(obj.event==='end'){
                if (obj.data.status !== 0 && obj.data.status !== 6) {
                    layer.msg("非法操作");
                    return;
                }
                $("#endReason").val(obj.data.endReason);
                layer.open({
                    type: 1
                    , title: '结案'
                    , area: ['500px', '220px']
                    , content: $("#reason")
                    , btn: ['添加', '取消']
                    , yes: function (index, layero) {
                        obj.data.endReason=$("#endReason").val();
                        obj.data.status=3;
                        var casess=new Array();
                        casess.push(obj.data);
                        $.ajax({
                            url: [[${ctx}]] + "/case/manager",
                            type: "post",
                            dataType: 'json',
                            data: {cases:JSON.stringify(casess)},
                            success: function (data) {
                                layer.msg(data.message);
                                cases.reload();
                                layer.close(index);
                            }
                        });
                    }
                })
            } else if (obj.event == "rethin") {
                if (obj.data.status !== 0 && obj.data.status !== 6) {
                    layer.msg("非法操作");
                    return;
                }
                layer.open({
                    type: 1
                    , title: '留案'
                    , area: ['380px', '340px']
                    , content: $("#day")
                    , btn: ['添加', '取消']
                    , yes: function (index, layero) {
                        var day = $('input[name="rethinDay"]').val();
                        if (day === "") {
                            layer.msg("请填写留案期");
                            return;
                        }
                        obj.data.status = 2;
                        obj.data.rethinDay = day;
                        obj.data.retainReason = $("#retainReason").val();
                        $.ajax({
                            url: [[${ctx}]] + "/case/manager",
                            type: "post",
                            dataType: 'json',
                            data: {cases: '[' + JSON.stringify(obj.data) + ']'},
                            success: function (data) {
                                layer.close(index);
                                layer.msg(data.message);
                                cases.reload();
                            }
                        });
                    }
                });
            }
        });

        form.on('submit(search)', function (data) {
            console.log(data.field)
            cases.reload({page: {curr: 1 },where:{staff:JSON.stringify(data.field)}});
            return false;
        });


        function setcase(cases) {
             $("span[name='name']").text(cases.name);
            $("button[name='Id']").attr("attr",cases.id);
            $("span[name='customerPhoneNumber']").text(cases.customerPhoneNumber);
//            $("span[name='customerResidencePhone']").text(cases.customerResidencePhone);
//            $("span[name='customerSpouse']").text(cases.customerSpouse);
//            $("span[name='customerSpousePhone']").text(cases.customerSpousePhone);
//            $("span[name='customerRelativeName']").text(cases.customerRelativeName);
//            $("span[name='customerRelativePhone']").text(cases.customerRelativePhone);
//            $("span[name='customerRelativeOther']").text(cases.customerRelativeOther);
//            $("span[name='customerOtherPhone']").text(cases.customerOtherPhone);
            $("span[name='customerOfficePhone']").text(cases.customerOfficePhone);
            $("span[name='customerCompany']").text(cases.customerCompany);
            $("span[name='customerCompanyAddress']").text(cases.customerCompanyAddress);
            $("span[name='repaymentAccount']").text(cases.repaymentAccount);
            $("span[name='commodity']").text(cases.commodity);
            $("span[name='brand']").text(cases.brand);
            $("span[name='customerAddress']").text(cases.customerAddress);
            $("span[name='appointData']").text(cases.appointData);
            $("span[name='stopAppoint']").text(cases.stopAppoint);
            $("span[name='sex']").text(cases.sex);
            $("span[name='idCard']").text(cases.idCard);
            $("span[name='loanType']").text(cases.loanType);
            $("span[name='loanPrincipal']").text(cases.loanPrincipal);
            $("span[name='installmentMoney']").text(cases.installmentMoney);
            $("span[name='installmentNum']").text(cases.installmentNum);
            $("span[name='repaymentMoney']").text(cases.repaymentMoney);
            $("span[name='deadline']").text(cases.deadline);
            $("span[name='overrangingDay']").text(cases.overrangingDay);
            $("span[name='cancelInstalments']").text(cases.cancelInstalments);
            $("span[name='nnpaidInstallment']").text(cases.nnpaidInstallment);
            $("span[name='lateFee']").text(cases.lateFee);
            $("span[name='arrears']").text(cases.arrears);
            $("span[name='serviceCharge']").text(cases.serviceCharge);
            $("span[name='sumArrears']").text(cases.sumArrears);
            $("input[name='caseId']").val(cases.id);
            $("span[name='contractsNum']").text(cases.contractsNum);
            $("span[name='contractNum']").text(cases.contractNum);
            $("span[name='contractApplyDate']").text(cases.contractApplyDate);
            $("span[name='accountMaster']").text(cases.accountMaster);
            $("span[name='bank']").text(cases.bank);
            $("span[name='posPlace']").text(cases.posPlace);
            $("span[name='withholding']").text(cases.withholding);
            $("span[name='withholdingAccount']").text(cases.withholdingAccount);
            $("span[name='supplement']").html(typeof(cases.supplement) == "undefined" ? '' : cases.supplement);
        }

        function setoption(cases) {
            $("select[name='target']").empty();
            if(typeof(cases.customerPhoneNumber) !== 'undefined'){
            $("select[name='target']").append("<option value='[本人]"+cases.customerPhoneNumber+"'>[本人]"+cases.customerPhoneNumber+"</option>")
            }
            if(typeof(cases.customerResidencePhone) !== 'undefined'){
            $("select[name='target']").append("<option value='[住宅]" + cases.customerResidencePhone + "'>[住宅]" + cases.customerResidencePhone + "</option>")
            }
            if(typeof(cases.customerOfficePhone) !== 'undefined'){
            $("select[name='target']").append("<option value='[公司]" + cases.customerOfficePhone + "'>[公司]" + cases.customerOfficePhone + "</option>")
            }
            form.render('select');
        }

        function setsu(cases) {
            $.post([[${ctx}]] + "/supplement/bynum", {num: cases.contractNum}, function (data) {
                if (data.code === 0) {
                    $("select[name='suTarget']").empty();
                    if (data.data.supplement.customerSpousePhone !== ""&&typeof(data.data.supplement.customerSpousePhone) !== 'undefined') {
                        $("select[name='suTarget']").append("<option value='[配偶]" + data.data.supplement.customerSpousePhone + "'>[配偶:" + (typeof(data.data.supplement.customerSpouse) === 'undefined'?'':data.data.supplement.customerSpouse) + "]" + data.data.supplement.customerSpousePhone + "</option>")
                    }
                    if (data.data.supplement.customerRelativePhone !== ""&&typeof(data.data.supplement.customerRelativePhone) !== 'undefined') {
                        $("select[name='suTarget']").append("<option value='[亲戚]" + data.data.supplement.customerRelativePhone + "'>[" + (typeof(data.data.supplement.customerRelationship) === 'undefined'?'': data.data.supplement.customerRelationship) + ":"+ (typeof(data.data.supplement.customerRelativeName) === 'undefined'?'': data.data.supplement.customerRelativeName) + "]" + data.data.supplement.customerRelativePhone + "</option>")
                    }
                    if (data.data.supplement.customerOtherPhone !== ""&&typeof(data.data.supplement.customerOtherPhone) !== 'undefined') {
                        $("select[name='suTarget']").append("<option value='[其他]" + data.data.supplement.customerOtherPhone + "'>[" + (typeof(data.data.supplement.customerRelaOther) === 'undefined'?'':data.data.supplement.customerRelaOther) + ":" + (typeof(data.data.supplement.customerRelativeOther) === 'undefined'?'': data.data.supplement.customerRelativeOther) + "]" + data.data.supplement.customerOtherPhone + "</option>")
                    }
                    form.render('select');
                }
            });
        }

        $("#next").click(function () {
            var index= Number(cursor)+1;
            cursor++;
            if (index === 10) {
                index=0;
                cursor=0;
                table.reload("cases",{page:{curr:Number(currpage)+1}
                ,done:function (res, curr, count) {
                        setcase(res.data[index]);
                        setoption(res.data[index]);
                        setsu(res.data[index]);
                        currdata=res;
                        currpage=curr;
                        log.reload({where:{cases:$("#caseId").val()}});
                        sulog.reload({where: {cases: $("#caseId").val()}});
                    }});
            }else{
                setcase(currdata.data[index]);
                setoption(currdata.data[index]);
                setsu(currdata.data[index]);
                log.reload({where:{cases:$("#caseId").val()}});
                sulog.reload({where: {cases: $("#caseId").val()}});
            }

        });
        $("#eext").click(function () {
            var index= Number(cursor)-1;
            cursor--;
            if (index === 10) {
                index=0;
                cursor=0;
                table.reload("cases",{page:{curr:Number(currpage)-1}
                    ,done:function (res, curr, count) {
                        setcase(res.data[index]);
                        setoption(res.data[index]);
                        setsu(res.data[index]);
                        currdata=res;
                        currpage=curr;
                        log.reload({where:{cases:$("#caseId").val()}});
                        sulog.reload({where: {cases: $("#caseId").val()}});
                    }});
            }else{
                setcase(currdata.data[index]);
                setoption(currdata.data[index]);
                setsu(currdata.data[index]);
                log.reload({where:{cases:$("#caseId").val()}});
                sulog.reload({where: {cases: $("#caseId").val()}});
            }

        });

        form.on('select(status)', function(data){
            if (data.value === "正常接通") {
                $("#result").empty();
                $("#result").append($("#reloption >select").html());
                $("#cuishouEnd").show();
            }else {
                $("#result").empty();
                $("#result").append("<option value='"+data.value+"'>"+data.value+"</option>");
                $("#cuishouEnd").hide();
            }
            form.render('select');
        });

        form.on('select(sustatus)', function (data) {
            if (data.value === "正常接通") {
                $("#suResult").empty();
                $("#suResult").append($("#sureloption >select").html());
                $("#suEnd").show();
            } else {
                $("#suResult").empty();
                $("#suResult").append("<option value='" + data.value + "'>" + data.value + "</option>");
                $("#suEnd").hide();
            }
            form.render('select');
        });

        var log= table.render({
            elem: '#log'
            , id: 'log'
            , height: 315
            , url: 'bycase' //数据接口
            ,where:{cases:$("#caseId").val()}
            , method: 'post'
            , cols: [[ //表头
//                {field: 'target', title: '催收对象', width: '200', sort: true, fixed: 'left'}
                 {field: 'result', title: '结果', width: '200', sort: true}
                , {field: 'status', title: '状态', width: '200', sort: true}
                , {field: 'createDate', title: '记录日期', width: '200', sort: true}
                , {field: 'rmarks', title: '备注', width: '200', sort: true}
            ]]
        });
        var sulog = table.render({
            elem: '#sulog'
            , id: 'sulog'
            , height: 315
            , url: [[${ctx}]] + '/surge/bycase' //数据接口
            , where: {cases: $("#caseId").val()}
            , method: 'post'
            , cols: [[ //表头
                {field: 'suTarget', title: '记录对象', width: '200', sort: true, fixed: 'left'}
                , {field: 'suResult', title: '结果', width: '200', sort: true}
                , {field: 'suStatus', title: '状态', width: '200', sort: true}
                , {field: 'createDate', title: '记录日期', width: '200', sort: true}
                , {field: 'suRemark', title: '备注', width: '200', sort: true}
            ]]
        });
        //添加崔记
        form.on('submit(urge)', function (data) {
            $.ajax({
                url: [[${ctx}]] + "/urge/add",
                type: "post",
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(data.field),
                success: function (data) {
                    layer.msg(data.message);
                    $('form')[1].reset();
                    $('#urgeadd').addClass(" layui-btn-disabled");
                    setTimeout((function () {
                        $('#urgeadd').removeClass("layui-btn-disabled")
                    }), 60000)
                    $("#cuishouEnd").hide();
                    log.reload({where:{cases:$("#caseId").val()}});
                }
            });
            return false;
        });
        //添加协查
        form.on('submit(suadd)', function (data) {
            $.ajax({
                url: [[${ctx}]] + "/surge/add",
                type: "post",
                dataType: 'json',
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify(data.field),
                success: function (data) {
                    layer.msg(data.message);
                    $('form')[2].reset();
                    $('#suadd').addClass(" layui-btn-disabled");
                    setTimeout((function () {
                        $('#suadd').removeClass("layui-btn-disabled")
                    }), 60000)
                    $("#suEnd").hide();
                    sulog.reload({where: {cases: $("#caseId").val()}});
                }
            });
            return false;
        });
        var ed = layedit.build('demo', {
            tool: []
        });
        //补充信息
        $("#supplement").click(function () {
            var id = $(this).attr("attr");
            $("#demo").text($("span[name='supplement']").html());
            layer.open({
                type: 1
                , title: "补充信息"
                , shade: 0
                , content: $("#supplementlayer")
                , btn: ['确定']
                , yes: function () {
                    $.ajax({
                        url: [[${ctx}]] + "/case/update",
                        type: "post",
                        dataType: 'json',
                        async: false,
                        data: {cases: JSON.stringify(JSON.parse('{"id":"' + id + '","supplement":"' + layedit.getContent(ed) + '"}'))},
                        success: function (data) {
                            layer.msg(data.message);
                            $("span[name='supplement']").html(layedit.getContent(ed));
                        }
                    });
                }
            });
        })

    })
    /*]]>*/
</script>
</html>