<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>插翅虎催债系统</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<div class="">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <ul class="layui-nav layui-nav-right">
                <li class="layui-nav-item">
                    <a th:text="${session.user.userName}"><img src="http://t.cn/RCzsdCq" class="layui-nav-img"/></a>
                    <dl class="layui-nav-child">
                        <dd><a id="chang"><i class="layui-icon">&#xe6b2;</i><cite> 修改密码</cite></a></dd>
                        <!--<dd><a href="javascript:;"><i class="layui-icon">&#xe6b2;</i> 安全管理</a></dd>-->
                        <dd><a href="loginOut"><i class="layui-icon">&#xe6b2;</i> 退出</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item">
                    <a href="">控制台<span class="layui-badge">9</span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="">个人中心<span class="layui-badge-dot"></span></a>
                </li>-->

            </ul>
        </div>
        <div th:include="fragment/menu :: menu"></div>

        <div class="layui-body " style="bottom: 0">
            <div class="layui-tab layui-tab-brief "  lay-filter="tab" lay-allowclose="true">
                <ul class="layui-tab-title ">
                    <li lay-id="0" class="layui-this">首页</li>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <fieldset class="layui-elem-field layui-col-md6">
                            <legend>统计信息</legend>
                                <div>
                                        当前委案数量：
                                        <span th:text="${normal[0]['num']}"></span><br/>
                                        当前委案总金额：
                                        <span th:text="${#numbers.formatDecimal(normal[0]['money'],3,2)}"></span><br/>
                                        当前结案数量：
                                        <span th:text="${end[0]['num']}"></span><br/>
                                        当前结案总金额：
                                        <span th:text="${#numbers.formatDecimal(end[0]['money'],3,2)}"></span><br/>
                                </div>
                        </fieldset>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div style="display: none" id="changPwd">
    <form  class="layui-form" method="post">
        <input type="hidden" name="userName" th:value="${session.user.userName}" required ="required " lay-verify="required" placeholder="新密码" autocomplete="off" class="layui-input"/>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="passWd" required ="required " lay-verify="required" placeholder="新密码" autocomplete="off" class="layui-input"/>
            </div>
            <div class="layui-form-mid layui-word-aux" id="pas"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">重复密码</label>
            <div class="layui-input-inline">
                <input type="password"  name="rePassWd" required ="required " lay-verify="required" placeholder="重复密码" autocomplete="off" class="layui-input"/>
            </div>
            <div class="layui-form-mid layui-word-aux" id="tig"></div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="lay-submit" lay-filter="user">确认修改</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/static/layui/layui.js}"></script>
<!-- layui规范化用法 -->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    layui.config({
        base: 'static/layui/js/'
    }).use('home');
    /*]]>*/

</script>
</body>

</html>