<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>插翅虎办公系统</title>
    <div th:include="fragment/head :: head"></div>
</head>
<body>
<div class="">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <ul class="layui-nav layui-nav-right">
                <li class="layui-nav-item">
                    <a th:text="${session.user.userName}"><img src="http://t.cn/RCzsdCq" class="layui-nav-img"/></a>
                    <dl class="layui-nav-child">
                        <dd><a id="chang"><i class="layui-icon">&#xe6b2;</i><cite> 修改密码</cite></a></dd>
                        <!--<dd><a href="javascript:;"><i class="layui-icon">&#xe6b2;</i> 安全管理</a></dd>-->
                        <dd><a href="loginOut"><i class="layui-icon">&#xe6b2;</i> 退出</a></dd>
                    </dl>
                </li>
                <!--<li class="layui-nav-item">
                    <a href="">控制台<span class="layui-badge">9</span></a>
                </li>
                <li class="layui-nav-item">
                    <a href="">个人中心<span class="layui-badge-dot"></span></a>
                </li>-->

            </ul>
        </div>
        <div th:include="fragment/menu :: menu"></div>

        <div class="layui-body " style="bottom: 0">
            <div class="layui-tab layui-tab-brief "  lay-filter="tab" lay-allowclose="true">
                <ul class="layui-tab-title ">
                    <li lay-id="0" class="layui-this">首页</li>
                </ul>

                <div class="layui-tab-content">
                    <div class="layui-tab-item layui-show">
                        <div class=" layui-col-md12 layui-card">
                            <div class="layui-card-header">统计信息</div>
                            <div class="layui-card-body">
                                <div style="font-size: 22px; color: #01AAED">
                                    当前委案数量：
                                    <span th:text="${normal[0]['num']}"></span><br/>
                                    当前委案总金额：
                                    <span th:text="${#numbers.formatDecimal(normal[0]['money'],3,2)}"></span><br/>
                                    当前结案数量：
                                    <span th:text="${end[0]['num']}"></span><br/>
                                    当前结案总金额：
                                    <span th:text="${#numbers.formatDecimal(end[0]['money'],3,2)}"></span><br/>
                                </div>
                            </div>
                        </div>
                        <div class="layui-col-md12 layui-card">
                            <div class="layui-card-header">代办事宜</div>
                            <div class="layui-card-body">
                                <table id="message" lay-filter="message"></table>
                            </div>
                        </div>
                        <div class=" layui-col-md6 layui-card">
                            <div class="layui-card-header">已跟进</div>
                            <div class="layui-card-body">
                                <table id="tj" lay-filter="tj"></table>
                            </div>
                        </div>

                        <div class=" layui-col-md6 layui-card">
                            <div class="layui-card-header">未跟进</div>
                            <div class="layui-card-body">
                                <table id="wtj" lay-filter="wtj"></table>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div style="display: none" id="changPwd">
    <form  class="layui-form" method="post">
        <input type="hidden" name="userName" th:value="${session.user.userName}" required ="required " lay-verify="required" placeholder="新密码" autocomplete="off" class="layui-input"/>
        <div class="layui-form-item">
            <label class="layui-form-label">新密码</label>
            <div class="layui-input-inline">
                <input type="password" name="passWd" required ="required " lay-verify="required" placeholder="新密码" autocomplete="off" class="layui-input"/>
            </div>
            <div class="layui-form-mid layui-word-aux" id="pas"></div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">重复密码</label>
            <div class="layui-input-inline">
                <input type="password"  name="rePassWd" required ="required " lay-verify="required" placeholder="重复密码" autocomplete="off" class="layui-input"/>
            </div>
            <div class="layui-form-mid layui-word-aux" id="tig"></div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="lay-submit" lay-filter="user">确认修改</button>
            </div>
        </div>
    </form>
</div>
<script type="text/html" id="onmessage">
    {{#  if(d.type == 2){ }}
    <a class="layui-btn  layui-btn-xs" lay-event="cat">查看</a>
    {{#  }else{ }}
    <a class="layui-btn  layui-btn-xs" lay-event="yes">同意</a>
    <a class="layui-btn  layui-btn-xs" lay-event="no">不同意</a>
    {{#  } }}
</script>
<script th:src="@{/static/layui/layui.js}"></script>
<!-- layui规范化用法 -->
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    layui.config({
        base: 'static/layui/js/'
    }).use('home');

    layui.use(['table', 'form', 'jquery'], function () {
        var table = layui.table
            , $ = layui.jquery;
        table.render({
            elem: '#tj'
            , id: 'tj'
            , url: [[${ctx}]] + '/case/isurge' //数据接口
            , method: 'post'
            , size: 'sm'
            , cols: [[ //表头
                {field: 'staff', title: '员工', width: '34%', sort: true, fixed: 'left'}
                , {field: 'count', title: '数量', width: '33%'}
                , {field: 'money', title: '金额', width: '33%'}
            ]]
        });
        function toFixed(d) {
            var vv = Math.pow(10, 2);
            return Math.round(d * vv) / vv;
        };
        table.render({
            elem: '#wtj'
            , id: 'wtj'
            , url: [[${ctx}]] + '/case/nourge' //数据接口
            , method: 'post'
            , size: 'sm'
            , cols: [[ //表头
                {field: 'staff', title: '员工', width: '34%', sort: true, fixed: 'left'}
                , {field: 'count', title: '数量', width: '33%'}
                , {
                    field: 'money', title: '金额', width: '33%', templet: function (d) {
                        return toFixed(d.money)
                    }
                }
            ]]
        });

        var amessage = table.render({
            elem: '#message'
            , id: 'message'
            , url: [[${ctx}]] + '/message/getmessage' //数据接口
            , method: 'post'
            , where: {staffId: [[${session.staff.loginName}]]}
            , width: 685
            , size: 'sm'
            , cols: [[ //表头
                {field: 'sender', title: '员工', width: 110, sort: true}
                , {field: 'date', title: '日期', width: 130, sort: true}
                , {field: 'message', title: '消息内容', width: 300, sort: true}
                , {title: '操作', width: 140, align: 'center', toolbar: '#onmessage', fixed: 'right'}

            ]]
        });

        table.on('tool(message)', function (obj) {
            var layEvent = obj.event;
            if (layEvent === 'yes') {
                $.post([[${ctx}]] + '/message/read', {message: JSON.stringify(obj.data)}, function (data) {
                    amessage.reload()
                    layer.msg(data.message)
                });
                console.log("yes");
            }
            if (layEvent === 'no') {
                $.post([[${ctx}]] + '/message/refuse', {message: JSON.stringify(obj.data)}, function (data) {
                    amessage.reload()
                    layer.msg(data.message)
                });
            }
            if (layEvent === 'cat') {
                console.log(obj.data)
                $.post([[${ctx}]] + '/message/cat', {message: JSON.stringify(obj.data)}, function (data) {
                    amessage.reload();
                    layer.msg(data.message)
                });
            }

        })
    });
    /*]]>*/

</script>
</body>

</html>